<div class="row">
    <div class="col-3 text-center">
        <h2 class="mt-2 mb-3 text-center">Account</h2>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a  class="nav-link btn-primary" [routerLink]="['/newsfeed']">Newsfeed</a>
            </li>
            <li class="nav-item mb-2">
                <a  class="nav-link btn-primary" [routerLink]="['/blocked']">Blocked Accounts</a>
            </li>
            <li class="nav-item mb-2">
                <a  class="nav-link btn-primary" [routerLink]="['/update-account']">Account Update</a>
            </li>
            <li class="nav-item mb-2">
                <a  class="nav-link btn-primary" [routerLink]="['/search']">Search</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link btn-primary" [routerLink]="['/logout']">Logout</a>
            </li>
        </ul>
    </div>  
    <div class="offset-1 col-sm-7 mt-4">
    <form class="formgroup" [formGroup]="myFormGroup" (ngSubmit)="search()">
        <div class="form-group row">
            <div class="col-sm-7">
                <input type="text" class="form-control" [formControl]="myFormGroup.controls['keyword']"  required>
            </div>
            <input type="submit" class="col-sm-3" value="Search" class="btn btn-info"/>
        </div>
    
        <div  class="row mt-4">
            <div *ngFor="let i of userList" class="card-deck text-center">
                <div class="card mx-5 my-3" >
                    <img [src]="i.profileUrl" alt="Pic" class="card-img-top" style="width: 200px;height: 300px;" >
                    <div class="card-body" style="background-color:#ccebff ;">
                        <h5>{{i.name}}</h5>
                        <button value="{{i.userId}}" *ngIf="i.followed" (click)="dounfollow(userid)" #userid>Unfollow</button>
                        <button value="{{i.userId}}" *ngIf="!i.followed" (click)="dofollow(userid)" #userid>Follow</button>

                    </div>  
                </div>
            </div>
        </div>

    
    
    </form>
</div>
</div>