<div class="row">
    <div class="col-3 text-center">
        <h2 class="mt-2 mb-3 text-center">Account</h2>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a  class="nav-link btn-primary" [routerLink]="['/newsfeed']">Newsfeed</a>
            </li>
            <li class="nav-item mb-2">
                <a  class="nav-link btn-primary" [routerLink]="['/blocked']">Blocked Accounts</a>
            </li>
            <li class="nav-item mb-2">
                <a  class="nav-link btn-primary" [routerLink]="['/update-account']">Account Update</a>
            </li>
            <li class="nav-item mb-2">
                <a  class="nav-link btn-primary" [routerLink]="['/search']">Search</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link btn-primary" [routerLink]="['/logout']">Logout</a>
            </li>
        </ul>
    </div>  
    <div class="col mt-4 text-center">
        <h3>Newsfeed</h3>
        <div *ngFor="let feed of list">
            <table class="table-hover offset-1">
                <td>
                    <h5><i class="fa fa-hand-o-right mr-3 text-white" aria-hidden="true"></i>{{feed}}</h5>       
                </td>
            </table> 
        </div>       
    </div>  
</div>
